In [22]:
print("hello")

hello

### ***modulo 1 pandas overview*** https://learning.oreilly.com/library/view/hands-on-data-preprocessing/9781801072137/B17397_01_Final_NM_ePub.xhtml#_idParaDest-*24*

In [23]:
import pandas as pd
pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Tec/Ciencia de datos/Hands-On_Overview_of_Pandas/adult.csv")

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalGain,capitalLoss,hoursPerWeek,nativeCountry,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [24]:
adult_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Tec/Ciencia de datos/Hands-On_Overview_of_Pandas/adult.csv")

In [25]:
adult_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalGain,capitalLoss,hoursPerWeek,nativeCountry,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [26]:
adult_df.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalGain,capitalLoss,hoursPerWeek,nativeCountry,income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [27]:
adult_df.shape #regresa filas y columnas del df

(32561, 15)

In [28]:
adult_df.age #jala una columna (serie de datos)

0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64

In [29]:
type(adult_df.age) #comprueba que el tipo de esta columna extraida de un df es una serie

pandas.core.series.Series

In [30]:
type(adult_df) #comprueba que el tipo es  dataframe

pandas.core.frame.DataFrame

In [31]:
adult_df.loc[1] #regresa los datod de la fila unicamente

age                               50
workclass           Self-emp-not-inc
fnlwgt                         83311
education                  Bachelors
education-num                     13
marital-status    Married-civ-spouse
occupation           Exec-managerial
relationship                 Husband
race                           White
sex                             Male
capitalGain                        0
capitalLoss                        0
hoursPerWeek                      13
nativeCountry          United-States
income                         <=50K
Name: 1, dtype: object

In [32]:
type(adult_df.loc[1])

pandas.core.series.Series

In [33]:
adult_df.loc[0].index #muestra las caracteristicas de las filas

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capitalGain', 'capitalLoss', 'hoursPerWeek', 'nativeCountry',
       'income'],
      dtype='object')

In [34]:
adult_df.age.index #muestra las caracteristicas de las columnas

RangeIndex(start=0, stop=32561, step=1)

# Modulo Pandas dataframes

## dataframes rows

In [35]:
import numpy as np # imports the numpy library with the alias 'np'

In [36]:
adult_df.set_index(np.arange(10000,42561),inplace=True)
#RELEVANTE QUE MARCÓ ERROR CUANDO NO ESTABA LA IMPORTACIÓN DE NUMPY
#CON ESTA INSTRUCCIÓN SE CAMBIA EL INDICE (SET INDEX) Y SE SUSTITUYE LA NUMERACIÓN DEL INDEX DEL DATAFRAME ORIGINAL

In [37]:
adult_df.head() #aquí se muestra como se cambio el indice(primer columna)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalGain,capitalLoss,hoursPerWeek,nativeCountry,income
10000,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
10001,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
10002,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
10003,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
10004,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [38]:
adult_df.set_index(np.arange(10000,42561))
#CON ESTA INSTRUCCIÓN SE CAMBIA EL INDICE (SET INDEX) Y SE SUSTITUYE LA NUMERACIÓN DEL INDEX y por default genera un dataframe  nuevo

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalGain,capitalLoss,hoursPerWeek,nativeCountry,income
10000,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
10001,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
10002,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
10003,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
10004,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
42557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
42558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
42559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
42560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [39]:
adult_df.loc[10001] #regresa el registro indicado entre corchetes de acuerdo al index que se ve

age                               50
workclass           Self-emp-not-inc
fnlwgt                         83311
education                  Bachelors
education-num                     13
marital-status    Married-civ-spouse
occupation           Exec-managerial
relationship                 Husband
race                           White
sex                             Male
capitalGain                        0
capitalLoss                        0
hoursPerWeek                      13
nativeCountry          United-States
income                         <=50K
Name: 10001, dtype: object

In [40]:
adult_df.iloc[1] # muestra la fila pero basaso en el index default

age                               50
workclass           Self-emp-not-inc
fnlwgt                         83311
education                  Bachelors
education-num                     13
marital-status    Married-civ-spouse
occupation           Exec-managerial
relationship                 Husband
race                           White
sex                             Male
capitalGain                        0
capitalLoss                        0
hoursPerWeek                      13
nativeCountry          United-States
income                         <=50K
Name: 10001, dtype: object

## Dataframes columns

In [41]:
adult_df.occupation # se puede acceder a la columna con el nombre de la columna

10000         Adm-clerical
10001      Exec-managerial
10002    Handlers-cleaners
10003    Handlers-cleaners
10004       Prof-specialty
               ...
42556         Tech-support
42557    Machine-op-inspct
42558         Adm-clerical
42559         Adm-clerical
42560      Exec-managerial
Name: occupation, Length: 32561, dtype: object

In [42]:
# COMENTADO XQ SI NO ATORA TODO * adult_df.education-num # cuando se tiene un guion medio python no lo lee marca error

In [43]:
adult_df['education-num'] #agregando corchetes y comillas estos se soluciona

10000    13
10001    13
10002     9
10003     7
10004    13
         ..
42556    12
42557     9
42558     9
42559     9
42560     9
Name: education-num, Length: 32561, dtype: int64

## DataFrame access values

In [44]:
adult_df.iloc[2].loc["education"] #muestra los resultados de la ediucación de la tercer fila (una de varias opciones)

'HS-grad'

In [45]:
adult_df.education.loc[10002]#muestra los resultados de la ediucación de la tercer fila (una de varias opciones)

'HS-grad'

In [46]:
adult_df["education"].iloc[2]#muestra los resultados de la ediucación de la tercer fila (una de varias opciones)

'HS-grad'

In [47]:
adult_df.at[10002,"education"]  #Accessing values with .at[] is my favorite for two reasons. First, it is much neater and more straightforward. Second, you can treat the DataFrame like a matrix as it is one, at least visuall

'HS-grad'

## Series Access

In [48]:
row_series = adult_df.loc[10002] #accesa a la fila 10002 y la almacena en una variable llamada row_series
print(row_series.loc["education"]) #se indica la columna que quiero que me regres con el label de la columna
print(row_series.iloc[3]) #se indica la columna con la ubicación indexada de la columna
print(row_series["education"]) #método 3  para lo mismo
print(row_series.education)#método 4 para lo mismo

HS-grad
HS-grad
HS-grad
HS-grad

In [49]:
column_series = adult_df.education  #accesa a la columna education y la almacena en una variable llamada column_series

In [50]:
print(column_series.loc[10002])
print(column_series.loc[10002])
print(column_series.iloc[2])
print(column_series[10002])

HS-grad
HS-grad
HS-grad
HS-grad